<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        {{#if data}}
        <form action="/users/{{data.slug}}/edit" method="post">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                    alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                                <h5>{{data.username}}</h5>
                                <div class="text-area mb-2">
                                    <textarea name="user_bio" id="" cols="17" rows="2"></textarea>
                                </div>
                                {{!-- <i class="far fa-edit mb-5"></i> --}}
                                <div class="row">
                                    <div class="col mb-2">
                                        <a href="/users/{{data.slug}}/edit"><button type="submit"
                                                class="btn btn-success">Confirm</button>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="/users/{{data.slug}}"><button type="button"
                                                class="btn btn-danger">Cancel</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="col pt-1">
                                        <div class="col col-20 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted">{{data.email}}</p>
                                        </div>
                                        <div class="col col-10 mb-3">
                                            <h6>Phone</h6>
                                            <div class="edit-box">
                                                <input name="phone" type="text" placeholder="{{data.phone}}">
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- <h6>Projects</h6> --}}
                                    <hr class="mt-0 mb-4">
                                    <div class="col pt-1">
                                        <div class="col col-6 mb-3">
                                            <h6>Age: </h6>
                                            <p class="text-muted">{{data.age}}</p>
                                        </div>
                                        <div class="col col-6 mb-3">
                                            <h6>Blogs</h6>
                                            <p class="text-muted">{{data.blog_counter}}</p>
                                        </div>
                                    </div>
                                    {{!-- <div class="d-flex justify-content-start">
                                        <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                        <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                        <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {{/if}}
    </div>
</section>